<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Интересно</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div class="container">
  <header>
   <nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
    
    <div class="logo">
      <a class="navbar-brand" href="/"><img src="/static/images/logo.png" class="img-fluid"></a>
    </div>

       <div class="top-header">
            <ul>
              <li class="search_wrapper">
                   <button class="search_btn" id="search_btn"></button>
                   <div class="search" id="search">
                       <input type="text">
                   </div></li>
              <li><a href="#">Кырг</a></li>
              <li><a href="#" class="singin">Рус</a></li>
            </ul>
        </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url "index" %}">Главная
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url "about" %}">О проекте</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "interesting" %}">Интересно</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "useful" %}">Полезно</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Задать вопрос</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</div>

<div class="container">
  <div class="nht-top-header o-hac-heading">
             <h1>{{ values.0.title }}</h1>
          </div>
       </div>

  <!-- Page Content -->
  <div class="container">
    <div class="wrapper">
    	<div class="row">
    		<div class="col-md-5 oHac-pic">
    			 <img src="{{ values.0.image.url }}" class="img-fluid">
    		</div>

    		<div class="col-md-7">

    			<div class="o-hac-paragraph bg-grey">
    				 {{ values.0.content|safe }}
    			</div>
               

    		</div>
    	</div><!--end row -->
<div class="bottom-section text-center">
         <h2>Рассылка</h2>
         <p>«Оптимизации программы школьного питания в КР»</p>
          <form>
               <div class="subscribe-fields">
                  <div class="row">
                      <div class="col-8">
                        <input type="email" class="form-control" placeholder="Введите свой email" name="search"/>
                      </div>
                      <div class="col-4">
                        <button type="submit" class="searchBtn">подписаться</button>
                      </div>
                  </div>
               </div>
           <!--    <div class="clearfix"></div> -->
          </form>
         <div class="social-meddia">
            <ul>
              <li><img src="/static/images/insta.png"></li>
              <li><img src="/static/images/fb.png"></li>
               <li><img src="/static/images/telegram.png"></li>
               <li><img src="/static/images/twitter.png"></li>
               <li><img src="/static/images/odono.png"></li>
            </ul>
         </div>
      </div>

      <div class="row row-space">
        <div class="col-4 text-center sponsor-logo">
             <img src="/static/images/footer-logo 1.png">
             <h4 class="tbo">Министерство Образования</h4>  
        </div>
         <div class="col-4 text-center sponsor-logo">
             <img src="/static/images/footer-logo 2.png">
             <h4 class="tbo">Министерство Образования</h4>  
        </div>

         <div class="col-4 text-center sponsor-logo">
             <img src="/static/images/footer-logo 3.png">
             <h4 class="tbo">Министерство Образования</h4>  
        </div>
      </div>

      <footer>
        <div class="row">
          <div class="col-md-9">
         <div class="row">
           <div class="col-md-3">
              <h3><a href="/">О проекте</a></h3>
              <ul class="footer-list footer-menu">
                <li><a href="/">О портале</a></li>
                <li><a href="/">О НПШП</a></li>
                <li><a href="/">О программе ВПП</a></li>
              </ul>
           </div>

            <div class="col-md-3">
              <h3><a href="/">Полезно</a></h3>
              <ul class="footer-list footer-menu">
                <li><a href="/">Вы имеете право</a></li>
                <li><a href="/">Просто о ШП</a></li>
                <li><a href="/">Что делать?</a></li>
              </ul>
           </div>

            <div class="col-md-3">
              <h3><a href="/">Интересно</a></h3>
              <ul class="footer-list footer-menu">
                <li><a href="#">Новости</a></li>
                <li><a href="/">В фокусе</a></li>
                <li><a href="/">Советуем</a></li>
              </ul>
           </div>

            <div class="col-md-3">
               <h3><a href="/">Готовим сами</a></h3>
              <ul class="footer-list footer-menu">
                <li><a href="/">А вы знали?</a></li>
                <li><a href="/">Играем</a></li>
                <li><a href="/">Советуем</a></li>
              </ul>
           </div>
         </div>
       </div>
       <div class="col-md-3">
          <ul class="footer-list client-info">
              <li><span class="ph">+996 (555) 12 31 23</span></li>
              <li><span class="location">ул. Васильева 35/2</span></li>
              <li><span class="message">email:  likjuvhmj.com</span></li>
          </ul>
       </div>
       </div>
      </footer>


      <div class="row row-space copyright">
        <div class="col-md-6 tex-left">
          <p>© Оптимизации программы школьного питания в КР» 2019 </p>
        </div>
        
         <div class="col-md-6 text-right">
          <p>Разработано: Colibri Studio </p>
        </div>


      </div>




    </div>
  </div>

  

   <button class="anhor">Вверх</button>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.slim.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/jquery/main.js"></script>

</body>

</html>
